<p id="notice"><%= notice %></p>

<p>
  <strong>Language genre:</strong>
  <%= @languagegenre.language_genre %>
</p>

<%= link_to 'Edit', edit_languagegenre_path(@languagegenre) %> |
<%= link_to 'Back', languagegenres_path %>
