



<br>
<br>
<a href="#" class="btn-sf-like">自然言語</a>
<br>
<br>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_japanese'">日本語</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_english'">英語</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_french'">フランス語</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_chinese'">中国語</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_spanish'">スペイン語</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_russian'">ロシア語</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_arabic'">アラビア語</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_german'">ドイツ語</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_italian'">イタリア語</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_indonesian'">インドネシア語</button></body>
<br>
<br>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_malay'">マレー語</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_vietnamese'">ベトナム語</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_swedish'">スウェーデン語</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_hebrew'">ヘブライ語</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_portuguese'">ポルトガル語</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_esperanto'">エスペラント語</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_vendergood'">ヴェンダーグッド</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_latin'">ラテン語</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_greek'">ギリシャ語</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_ainu'">アイヌ語</button></body>
<br>
<br>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_korean'">韓国語</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_hawaiian'">ハワイ語</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_turkish'">トルコ語</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_dutch'">オランダ語</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_ancient_japanese'">古代日本語</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_newspeak'">ニュースピーク</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_ancient_greek'">古代ギリシャ語</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_ancient_latin'">古代ラテン語</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_ryukyu'">琉球語</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_maori'">マオリ語</button></body>
<br>
<br>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_luxemburgisch'">ルクセンブルグ語</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_bengali'">ベンガル語</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_hieroglyph'">ヒエログリフ</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_swahili'">スワヒリ語</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_sansklit'">サンスクリット語</button></body>
<br>
<br>
<br>
<br>
<a href="#" class="btn-sf-like">コンピュータ言語</a>
<br>
<br>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_html'">HTML</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_css'">CSS</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_ruby'">Ruby</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_javascript'">JavaScript</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_php'">PHP</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_sql'">SQL</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_go'">Go</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_c'">C</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_c_sharp'">C#</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_c_plusplus'">C++</button></body>
<br>
<br>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_kotlin'">Kotlin</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_java'">Java</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_python'">Python</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_swift'">Swift</button></body>
<br>
<br>
<br>
<br>
<a href="#" class="btn-sf-like">その他の言語</a>
<br>
<br>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_sign_language'">手話</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_braille'">点字</button></body>
<br>




