&emsp;
&nbsp;


<br>
<br>
<a href="#" class="btn-sf-like">&emsp;&emsp;自然言語&emsp;&emsp;</a>
<br>
<br>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_japanese'">&emsp;&emsp;&emsp;日本語&emsp;&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_english'">&emsp;&emsp;&emsp;&nbsp;英語&nbsp;&emsp;&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_french'">&emsp;&emsp;フランス語&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_chinese'">&emsp;&emsp;&emsp;中国語&emsp;&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_spanish'">&emsp;&emsp;スペイン語&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_russian'">&emsp;&emsp;&nbsp;ロシア語&nbsp;&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_arabic'">&emsp;&emsp;アラビア語&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_german'">&emsp;&emsp;&nbsp;ドイツ語&nbsp;&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_italian'">&emsp;&emsp;イタリア語&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_indonesian'">&emsp;インドネシア語&emsp;</button></body>
<br>
<br>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_malay'">&emsp;&emsp;&nbsp;ロシア語&nbsp;&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_vietnamese'">&emsp;&emsp;ベトナム語&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_swedish'">&emsp;スウェーデン語&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_hebrew'">&emsp;&emsp;ヘブライ語&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_portuguese'">&emsp;&nbsp;ポルトガル語&nbsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_esperanto'">&emsp;エスペラント語&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_vendergood'">&nbsp;ヴェンダーグッド&nbsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_latin'">&emsp;&emsp;&nbsp;ラテン語&nbsp;&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_greek'">&emsp;&emsp;ギリシャ語&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_ainu'">&emsp;&emsp;&nbsp;アイヌ語&nbsp;&emsp;&emsp;</button></body>
<br>
<br>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_korean'">&emsp;&emsp;&emsp;韓国語&emsp;&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_hawaiian'">&emsp;&emsp;&nbsp;ハワイ語&nbsp;&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_turkish'">&emsp;&emsp;&nbsp;トルコ語&nbsp;&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_dutch'">&emsp;&emsp;オランダ語&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_ancient_japanese'">&emsp;古代日本語&emsp;&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_newspeak'">&emsp;ニュースピーク&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_ancient_greek'">&emsp;古代ギリシャ語&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_ancient_latin'">&emsp;&nbsp;古代ラテン語&nbsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_ryukyu'">&emsp;&emsp;&emsp;琉球語&emsp;&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_maori'">&emsp;&emsp;&nbsp;マオリ語&nbsp;&emsp;&emsp;</button></body>
<br>
<br>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_luxemburgisch'">&nbsp;ルクセンブルク語&nbsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_bengali'">&emsp;&emsp;ベンガル語&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_hieroglyph'">&emsp;&nbsp;ヒエログリフ&nbsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_swahili'">&emsp;&emsp;スワヒリ語&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_sansklit'">&emsp;サンスクリット語&emsp;</button></body>
<br>
<br>
<br>
<br>
<a href="#" class="btn-sf-like">コンピュータ言語</a>
<br>
<br>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_html'">&emsp;&emsp;HTML&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_css'">&emsp;&emsp;CSS&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_ruby'">&emsp;&emsp;Ruby&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_javascript'">&emsp;&emsp;JavaScript&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_php'">&emsp;&emsp;PHP&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_sql'">&emsp;&emsp;SQL&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_go'">&emsp;&emsp;Go&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_c'">&emsp;&emsp;C&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_c_sharp'">&emsp;&emsp;C#&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_c_plusplus'">&emsp;&emsp;C++&emsp;&emsp;</button></body>
<br>
<br>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_kotlin'">&emsp;&emsp;Kotlin&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_java'">&emsp;&emsp;Java&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_python'">&emsp;&emsp;Python&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_swift'">&emsp;&emsp;Swift&emsp;&emsp;</button></body>
<br>
<br>
<br>
<br>
<a href="#" class="btn-sf-like">&nbsp;その他の言語&nbsp;</a>
<br>
<br>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_sign_language'">&emsp;&emsp;&emsp;&nbsp;手話&nbsp;&emsp;&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/l_braille'">&emsp;&emsp;&emsp;&nbsp;点字&nbsp;&emsp;&emsp;&emsp;</button></body>
<br>
<br>
<br>
<br>
<a href="#" class="btn-sf-like">&emsp;&emsp;&nbsp;言語学&nbsp;&emsp;&emsp;</a>
<br>
<br>
<body> <button class="btn-gradient-3d" onclick="location.href='/members/postmember'">&emsp;&emsp;言語学&emsp;&emsp;</button></body>




































