&nbsp;


<br>
<br>
<a href="#" class="btn-sf-like">&emsp;&emsp;自然言語&emsp;&emsp;</a>
<br>
<br>
<body> <button class="btn-gradient-3d" onclick="location.href='/languagenames/japanese'">&emsp;&emsp;日本語&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/members/postmember'">&emsp;&emsp;&nbsp;英語&nbsp;&nbsp;&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/members/postmember'">&emsp;&emsp;日本語&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/members/postmember'">&emsp;&emsp;日本語&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/members/postmember'">&emsp;&emsp;日本語&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/members/postmember'">&emsp;&emsp;日本語&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/members/postmember'">&emsp;&emsp;日本語&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/members/postmember'">&emsp;&emsp;日本語&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/members/postmember'">&emsp;&emsp;日本語&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/members/postmember'">&emsp;&emsp;日本語&emsp;&emsp;</button></body>
<br>
<br>
<body> <button class="btn-gradient-3d" onclick="location.href='/members/postmember'">&emsp;&emsp;日本語&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/members/postmember'">&emsp;&emsp;日本語&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/members/postmember'">&emsp;&emsp;日本語&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/members/postmember'">&emsp;&emsp;日本語&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/members/postmember'">&emsp;&emsp;日本語&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/members/postmember'">&emsp;&emsp;日本語&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/members/postmember'">&emsp;&emsp;日本語&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/members/postmember'">&emsp;&emsp;日本語&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/members/postmember'">&emsp;&emsp;日本語&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/members/postmember'">&emsp;&emsp;日本語&emsp;&emsp;</button></body>
<br>
<br>
<body> <button class="btn-gradient-3d" onclick="location.href='/members/postmember'">&emsp;&emsp;日本語&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/members/postmember'">&emsp;&emsp;日本語&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/members/postmember'">&emsp;&emsp;日本語&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/members/postmember'">&emsp;&emsp;日本語&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/members/postmember'">&emsp;&emsp;日本語&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/members/postmember'">&emsp;&emsp;日本語&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/members/postmember'">&emsp;&emsp;日本語&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/members/postmember'">&emsp;&emsp;日本語&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/members/postmember'">&emsp;&emsp;日本語&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/members/postmember'">&emsp;&emsp;日本語&emsp;&emsp;</button></body>
<br>
<br>
<br>
<br>
<a href="#" class="btn-sf-like">コンピュータ言語</a>
<br>
<br>
<body> <button class="btn-gradient-3d" onclick="location.href='/members/postmember'">&emsp;&emsp;日本語&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/members/postmember'">&emsp;&emsp;日本語&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/members/postmember'">&emsp;&emsp;日本語&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/members/postmember'">&emsp;&emsp;日本語&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/members/postmember'">&emsp;&emsp;日本語&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/members/postmember'">&emsp;&emsp;日本語&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/members/postmember'">&emsp;&emsp;日本語&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/members/postmember'">&emsp;&emsp;日本語&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/members/postmember'">&emsp;&emsp;日本語&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/members/postmember'">&emsp;&emsp;日本語&emsp;&emsp;</button></body>
<br>
<br>
<body> <button class="btn-gradient-3d" onclick="location.href='/members/postmember'">&emsp;&emsp;日本語&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/members/postmember'">&emsp;&emsp;日本語&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/members/postmember'">&emsp;&emsp;日本語&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/members/postmember'">&emsp;&emsp;日本語&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/members/postmember'">&emsp;&emsp;日本語&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/members/postmember'">&emsp;&emsp;日本語&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/members/postmember'">&emsp;&emsp;日本語&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/members/postmember'">&emsp;&emsp;日本語&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/members/postmember'">&emsp;&emsp;日本語&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/members/postmember'">&emsp;&emsp;日本語&emsp;&emsp;</button></body>
<br>
<br>
<br>
<br>
<a href="#" class="btn-sf-like">&nbsp;その他の言語&nbsp;</a>
<br>
<br>
<body> <button class="btn-gradient-3d" onclick="location.href='/members/postmember'">&emsp;&emsp;&nbsp;手話&nbsp;&emsp;&emsp;</button></body>
<body> <button class="btn-gradient-3d" onclick="location.href='/members/postmember'">&emsp;&emsp;&nbsp;点字&nbsp;&emsp;&emsp;</button></body>
<br>
<br>
<br>
<br>
<a href="#" class="btn-sf-like">&emsp;&emsp;&nbsp;言語学&nbsp;&emsp;&emsp;</a>
<br>
<br>
<body> <button class="btn-gradient-3d" onclick="location.href='/members/postmember'">&emsp;&emsp;言語学&emsp;&emsp;</button></body>




































