<p id="notice"><%= notice %></p>

<p>
  <strong>Language name:</strong>
  <%= @languagename.language_name %>
</p>

<%= link_to 'Edit', edit_languagename_path(@languagename) %> |
<%= link_to 'Back', languagenames_path %>
