// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.image-background-1 {
background-image: image-url('sea1.jpg');
background-size: cover;
width: 100vw;
padding-top:10vh;
height: 80vh;
margin-top: 0vh;
}


.image-background-3 {
background-image: image-url('sea2.jpg');
background-size: cover;
width: 100vw;
padding-top:10vh;
height: 80vh;
margin-top: 0vh;
}